@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @foreach (var item in Model)
	{
		 <h4>@item.Title</h4>
	}

</div>
